.download-result .container{
    margin: 10px auto 0;
    display: grid;
    grid-template-columns: 350px 1fr;
    gap: 20px;
    background-color: white;
}
.download-result .thumb-nail{
    margin: 0 auto;
    line-height: 1.4;
    background-color: #fff;
    border-radius: 4px;
    padding:0 30px ;
}
@media (max-width:768px){
    .download-result .container{
        grid-template-columns: 1fr;
        gap: 10px;
    }
    .download-result .thumb-nail{
        padding: 0;
    }
}
.download-result .thumb-nail img{
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 100%;
    height: auto;
}
.download-result .thumb-nail-caption{
    padding: 9px 0;
    color: #333;
    text-align: left;
}
.download-result .icon-nav{
    border-bottom: 1px solid #ddd;
    list-style: none;
    display: flex;
    gap: 5px;
    padding: 0;
    margin: 0;
}
.download-result .icon-nav li{
    padding: 10px 10px 11px;
    border-radius: 2px 2px 0 0;
    font-weight: 700;
    line-height: 1.4;
    display:  flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    cursor: default;
}
.download-result .icon-nav li.active
{
    color: var(--main-color);
}
.download-result .icon-nav li.active,
.download-result .icon-nav li:hover{
    background-color: #eee;
    border-color: #ddd;
    border-bottom-color: transparent;
}
.download-result .video-content table{
    border-top: 0;
    width: 100%;
    border: 1px solid #ddd;
    max-width: 100%;
    margin-bottom: 22px;
    border-collapse: collapse;
    border-spacing: 0;
    border-top: 0;
}
.download-result .video-content table th{
    font-size: 12px;
    font-weight: 400;
}
.download-result .video-content table td,th{
    padding: 10px 5px;
    vertical-align: middle;
    text-align: start;
    border: 1px solid #ddd;
    border-bottom: 1px solid #dcdfe4;
    border-top: 0;
    
}
.download-result .video-content table .label{
    padding: 0.2em 0.6em 0.3em;
    font-size: 75%;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25em;
    background-color: #337ab7;
}
.download-result .video-content table .btn{
    width: 100%;
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 16px;
    line-height: 1.4;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
