
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300;1,400&display=swap');

:root {
  --main-color:#2D86FF;
  --main-transition:0.3s;
}

* {

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #F9F9F9;
  margin: 0;
  color: #293a46;
  font-size: 16px;
  font-family: Roboto,sans-serif;
  font-weight: 300;
  line-height: 1.6;
}


ul {
  list-style: none;
  padding: 0;
}
h1,h2,h3,h4,h5,h6,p{
  margin: 0;
}
.container {
  margin: 0 auto;
  padding: 0 15px;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}